
<div>
  <% @actors.each do |actor| %>
  <h3><%= actor.name%> </h3>
<img src= <%=actor.image_url %>>
<p><%=actor.bio%></p>
<p><%=actor.birth_date%></p>
<p><%=actor.birth_place%></p>
<% unless actor.alive %>
<p><%=actor.death_date%></p>
<p><%=actor.death_place%></p>
    <%end%>
  <%end%>

</div>

<div>

<a href="/actors/new" >Crear Actor</a>
</div>
